


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before{
  box-sizing: border-box;
}
*::after{
  box-sizing: border-box;
}

ul,li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
html{
  font-size:2vw;
}
body{
  font-size: 2vw;
}

input{font:inherit;}

/*页面布局*/
.active{
  background: #ddd;
}
.page{
  display: flex;
  height:100vh;
  width:100vw;

  aside{
    width:40vw;
    display: flex;
    flex-direction: column;


    .newSong{
      height:10vw;
      border-bottom: 1px solid black;

    }
    .songList-wrapper {
      flex-grow: 1;
      .songList {

        li {
          border-bottom: 1px solid #ddd;
          padding: 0.5vw;

        }
        li.active {
          background: #ddd;

        }

      }
    }

    .uploadArea{

      #uploadContainer {
        border: 1px dashed gray;
        border-radius: 4px;
        width:32vw ;
        height:32vw ;
        margin:4vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;

      }
      #uploadButton {
        border-radius: 4px;
        width:20vw;
        height:10vw ;
        font-size:4vw;
        line-height:10vw;
        color: darkgray;
      }

      p {
        color: #ddd;
      }
    }
  }
  main{
    flex-grow: 1;

    .form{
      border:1px solid black;
      .row{
        margin:1vw  0;
      }
      input[type="text"]{
        border:1px solid #ddd;
      }
      button[type="submit"]{
        border:1px solid #ddd;
      }
    }
  }

}







